html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #001f3f 0%, #000080 100%);
  min-height: 100vh; /* This will make sure that the gradient covers at least the full viewport height */
  display: flex;
  flex-direction: column;
}


h1 {
  text-align: top;
  margin-bottom: 20px;
  color: #FFD700; /* Yellow color */
}

.groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Align items to the start */
  align-items: center; /* Align items at their top edge */
  gap: 20px;
}

.group {
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #000080; /* Navy blue background */
  padding: 20px;
  border-radius: 10px;
  color: #FFD700; /* Yellow text color */
  width: 300px;; 
}

.group-header {
  margin-bottom: 15px;
}

.group-content {
  display: flex;
  flex-direction: column;
}

.inputs {
  display: flex;
  flex-direction: column;
  color: #FFD700
}

.input-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #FFD700
}

.input-row label {
  flex: 1; /* Take up remaining space */
  margin-right: 10px; /* Add some spacing between label and input */
  color: #FFD700
}

.input-row input {
  flex: 2; /* Take up more space than label */
  color: #FFD700
}

.add-group-btn {
  background-color: #FFD700; /* Yellow background */
  color: #000080; /* Navy text color */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s ease-out, box-shadow 0.2s ease;
  height: 500px; /* Adjust height to fit its content */
  align-self: center; /* Align self in the center if using align-items: flex-start; */
  margin: auto 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Initial subtle shadow */
}

.add-group-btn:hover, .add-group-btn:focus {
  background-color: #E6C300; /* Darker yellow on hover */
  transform: scale(1.05); /* Slightly increase size */
  box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* Larger shadow for lifted effect */
}

.add-group-btn:active {
  transform: scale(0.95); /* Slightly decrease size to mimic a press */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Reset to smaller shadow */
}

.edit-group-btn {
  background-color: transparent;
  border: none;
  color: #FFFFFF; /* White text color */
  font-size: 1em;
  cursor: pointer;
}

.edit-group-btn:hover {
  color: #FFD700;
}

.remove-group-btn {
  background-color: transparent;
  border: none;
  color: #FFFFFF; /* White text color */
  font-size: 1em;
  cursor: pointer;
}

.remove-group-btn:hover {
  color: #FFD700; /* Red color on hover */
}

.modern-input {
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  border: 1px solid #ff0000; /* Red border */
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.modern-input:focus {
  outline: none;
  border-color: #ff4500; /* Brighter red border on focus */
}


.modern-button {
  background-color: #FFD700; /* Yellow background */
  color: #000080;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.modern-button:hover {
  background-color: #E6C300; /* Slightly darker red on hover */
  transform: scale(1.05); /* Slightly larger on hover */
}

.modern-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #ff0000; /* White and red glow effect */
}

.modern-button:active {
  background-color: #cc0000; /* Even darker red on active/click */
  transform: scale(0.95); /* Slightly smaller on click */
}

.calculator-toggle, .simulation-controls-toggle {
  position: absolute;
  top: 75px;
  right: 20px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #FFD700; /* Yellow color */
}

.simulation-controls-toggle {
  right: 60px; /* Adjust based on your layout */
}
.calculator-toggle i, .simulation-controls-toggle i {
  transition: transform 0.3s ease;
  }

.calculator-toggle:hover i, .simulation-controls-toggle:hover i {
transform: scale(1.1);
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Makes sure padding does not affect overall width */
}

.modal-content button {
  width: 100%;
  background-color: #001f3f; /* Navy blue background */
  color: yellow; /* Yellow text */
  padding: 14px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-content button:hover {
  background-color: #000080; /* A slightly lighter navy blue for hover */
}


.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.header {
  width: 100%;
  background-color: #004d99; /* Adjust the color as needed */
  color: #ffffff;
  padding: 20px 40px;
  margin: 0;
  box-sizing: border-box; /* Ensures padding doesn't add to the total width */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header h1 {
  margin: 0; /* Remove default margin */
  font-size: 2rem; /* Larger font size for the title */
}

.toolbar {
  display: flex;
  gap: 20px; /* Space between buttons */
}

button {
  background-color: #0073e6; /* Lighter blue for buttons */
  color: #ffffff; /* White text */
  border: none;
  padding: 10px 15px;
  border-radius: 5px; /* Rounded corners for a modern look */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; /* Smooth transitions for hover and click */
}

button:hover {
  background-color: #005cb800; /* Darker blue on hover */
  transform: scale(1.05); /* Slightly larger on hover */
}

button:active {
  transform: scale(0.95); /* Slightly smaller when clicked */
}


.logo {
  height: auto; /* Maintain aspect ratio */
  width: 400px; /* Example width; adjust as needed */
  display: block; /* To prevent inline default behavior */
  margin: 0 auto; /* Center the logo if the container allows */
}

/* Font Awesome Icons */
.fas {
  margin-right: 8px; /* Space between icon and text */
}

input[type="number"] {
  width: 100px; /* Adjust the width */
  padding: 8px; /* Add some padding */
  margin: 5px; /* Add some margin */
  color: #fff; /* White text */
  background-color: #000;
  border-color: #ff4500; /* Brighter red border on focus */
  border-radius: 4px; /* Add rounded corners */
  font-size: 16px; /* Adjust the font size */
}

/* For WebKit browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

  


